  @import url("defaulttext.css"); /* calls in default text settings */

  body {
    background-image: url("tiles/png/jazz.png");
    background-attachment: fixed;
    margin: auto;
    width: 80%;
  }

  .dacenta {
    justify-content: center;
    display: flex;
  }

  .wholeContentContainer {
    /* min-width: 920px; */
  }

  #logo h1 {
    /* Font shit */
    font-family: Arial;
    font-size: 3.5vw;
    font-style: italic;
    text-shadow: 4px 4px black;
    text-align: center;
    color: #FFC200;

    /* positioning shit */
    margin: 10px;
  }

  #logo a{
    text-decoration: none;
    text-transform: uppercase;
    color: #FFC200;

    -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  }

  #logo a:link, a:visited, a:hover, a:active, a:focus{
    color: #FFC200;

    -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  }



  #nav {
    /* appearance shit */
    background: rgb(102,39,201);
    background: linear-gradient(180deg, rgba(102,39,201,1) 0%, rgba(172,33,206,1) 100%);

    /* positioning shit */
    text-align: center;
    display: block;

    /* border shit */
    border-style: solid;
    border-width: 2px;
    border-color: 570605;
  }

  #nav li{
    display: inline;
    margin: 25px;
    font-size: 25px;
    font: bahnscrift;
    font-style: normal;
    text-shadow: 1.5px 1.5px black;
    color: white;
  }

  a:visited, a:link{
    color: lightgrey;
  }

  a:hover{
    color: red;
  }

  #main {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background: rgb(44,87,221);
    background: linear-gradient(180deg, rgba(44,87,221,1) 0%, rgba(26,190,255,1) 100%);
    border-width: 2px;
    border-color: black;


    padding-top: 1%;
    padding-bottom: 1%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #greetingbox {
    /* Border shit */
    border-style: solid;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color: black;
  }

  #greetingbox h1 {
    font-style: normal;
    font-size: 45px;
    text-align: center;

    margin-bottom: auto;
    margin-top: auto;
    height: 15%;
    padding-top: 2%;
    padding-bottom: 2%;

    background-image: url("tiles/bmp/argyle.bmp");
    background-attachment: fixed;
  }

  #leftsidewrapper {

    width: 20%;
  }

  #centercontentwrapper {

    display: flex;
    justify-content: center;
    width: 60%;
  }

  #contentTable td a:visited {
      color: rgb(255,194,0);
  }


  #contentTable {
    width: 100%;
  }

  table {
    width: 100%;
  }

  td, th {
    text-align: left;
  }



  #rightsidewrapper {

    width: 20%;
  }

  #footer a:visited, #footer a:link, #footer a:hover {
    color: #FFC200;
  }

  /* snap implemenation code */
  @media screen and (max-width: 1200px) {
      body {
        width: 100%;
      }

      #logo h1 {
        font-size: 7vw;
      }

      #leftsidewrapper {
        width: 10%;
      }

      #rightsidewrapper {
        width: 10%;
      }

      #centercontentwrapper {
        width: 90%;
        /* background-color: blue; */
      }

      #footer {
        margin-left: 2%;
      }
  }
