@import url("defaulttext.css"); /* calls in default text settings */

body {
  background-image: url("tiles/jpg/blueglass.jpg");
  background-attachment: fixed;
  margin: auto;
  width: 80%;
}

.dacenta {
  justify-content: center;
  display: flex;
}

.wholeContentContainer {
  /* min-width: 920px; */
}

#logo h1 {
  /* Font shit */
  font-family: Arial;
  font-size: 3.5vw;
  font-style: italic;
  text-shadow: 4px 4px black;
  text-align: center;
  color: #A19AFA;

  /* positioning shit */
  margin: 10px;
}

#logo a{
  text-decoration: none;
  text-transform: uppercase;
  color: #A19AFA;
}

#logo a:link, a:visited, a:hover, a:active, a:focus{
  color: #A19AFA;
}



#nav {
  /* appearance shit */
  background: rgb(20,55,255);
  background: linear-gradient(180deg, rgba(20,55,255,1) 0%, rgba(56,44,134,1) 100%);

  /* positioning shit */
  text-align: center;
  display: block;

  /* border shit */
  border-style: solid;
  border-width: 2px;
  border-color: 570605;
}

#nav li{
  display: inline;
  margin: 25px;
  font-size: 25px;
  font: bahnscrift;
  font-style: normal;
  text-shadow: 1.5px 1.5px black;
  color: white;
}

a:visited, a:link{
  color: lightgrey;
}

a:hover{
  color: red;
}

.thumbnailContainer a:visited, .thumbnailContainer a:link{
  color: black;
}

.thumbnailContainer a:hover{
  color: #4bfcfc;
}

.thumbnailContainer img {
  border-style: solid;
  border-width: 2px;
  border-color: 570605;
}




#main {
  /* old shit
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-width: 2px;
  border-color: black;


  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,60,53,1) 0%, rgba(25,133,118,1) 100%);


  padding-bottom: 2%;
  padding-top: 2%; */

  border-style: solid;
  border-width: 2px;
  border-color: black;
  background: rgb(66,128,193);
  background: linear-gradient(180deg, rgba(66,128,193,1) 0%, rgba(9,76,145,1) 100%);
  border-width: 2px;
  border-color: black;


  padding-top: 1%;
  padding-bottom: 1%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#greetingbox {
  /* Border shit */
  border-style: solid;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-color: black;
}

#greetingbox h1 {
  font-style: normal;
  font-size: 45px;
  text-align: center;

  margin-bottom: auto;
  margin-top: auto;
  height: 15%;
  padding-top: 2%;
  padding-bottom: 2%;

  background-image: url("tiles/jpg/cloudysky.jpg");
  background-attachment: fixed;
  background-size: 500px 500px;
}


#leftsidewrapper {
  /* background-color: green; */
  width: 10%;
}

#centercontentwrapper {
  /*background-color: red;*/
  width: 80%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.ledgerContainer {
  /*background-color: blue;*/
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#placeholder{
  visibility: hidden;
}

#pageNav{
}

#pageNav li{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
  text-shadow: 1.5px 1.5px black;
  color: white;
}

.thumbnailContainer {
  padding: 1%;
}

.thumbnailContainer a {
  text-decoration: none;
}

.thumbnailContainer h3 {
margin: 0;
}

.thumbnailContainer h4 {
margin: 0;
}

.thumbnalContainer img {
  width: 100%;
  height: auto;
}


#rightsidewrapper {
  /* background-color: blue; */
  width: 10%;
}

  #footer a:visited, #footer a:link, #footer a:hover {
    color: #A19AFA;
  }



/* #linklist li{
  display: inline;
  margin: 25px;
  font-size: 25px;
  font: bahnscrift;
  font-style: normal;
  text-shadow: 1.5px 1.5px black;
  color: white;
}
*/



/*#tbwrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

#thirdblock iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}*/




/*





*/

/* I cannot handle commenting dude. I just can't why the fuck is the commenting the most
shit combination of characters. Fuck the asterick key and fuck the slash key. Fuck you too. */
